h1= title
p 
  label(for="form-name") Name
  input#form-name(type="text", name="name", value=name)
p 
  label(for="form-slug") Slug
  input#form-slug(type="text", name="slug", value=slug)
p
  label(for="form-desc") Description
  textarea#form-desc(name="desc", value=desc)
p
  label(for="form-enable") Enabled
  input#form-enable(type="checkbox", name="enable", checked=enable)
p
  input#form-submit(type="submit", value="Submit")